<div class="align-end">
  <button mat-stroked-button routerLink="/auditors"><mat-icon>arrow_back</mat-icon>All auditors</button>
  <div class="spacer"></div>
</div>

<br>
<h1>New auditor</h1>
<!--h1>Register Auditor</h1>
<mat-form-field appearance="fill">
  <mat-label>Address</mat-label>
  <input matInput [(ngModel)]="address">
</mat-form-field>
<br>
<button mat-stroked-button (click)="addAuditor()">Register</button>
<br>
<br>
<button mat-stroked-button (click)="isAuditor()">isAuditor</button-->

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Account</mat-label>
    <input matInput type="text" formControlName="account">
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Contact</mat-label>
    <input matInput type="text" formControlName="contact">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput type="text" formControlName="location">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Website</mat-label>
    <input matInput type="text" formControlName="website">
  </mat-form-field>
  <br>
  
  <button mat-raised-button color="primary" type="submit">Register auditor</button>

</form>