<h1>Review audit</h1>

<app-audit-request-details></app-audit-request-details>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<!-- 
	<mat-form-field appearance="fill">
		<mat-label>Audit request id</mat-label>
		<input matInput type="number" min="0" formControlName="auditRequestId">
	</mat-form-field> -->
<!-- 	 
	<mat-form-field appearance="fill">
	  <mat-label>Status</mat-label>
	  <input matInput type="text" formControlName="status">
	</mat-form-field> -->

	<mat-form-field appearance="fill">
	  <mat-label>Status</mat-label>
	  <mat-select formControlName="status">
		<mat-option value="accepted">Accepted</mat-option>
		<mat-option value="rejected">Rejected</mat-option>
	  </mat-select>
	</mat-form-field>

	<mat-form-field appearance="fill">
	  <mat-label>Credits Received</mat-label>
	  <input matInput type="number" min="0" formControlName="creditsReceived">
	</mat-form-field>
  
	<mat-form-field appearance="fill">
	  <mat-label>Comments</mat-label>
	  <textarea matInput rows="4" formControlName="comments"></textarea>
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit">Save</button>
  
</form>

