
<h1>Projects</h1>
<div class="align-end">
  <button mat-stroked-button class="align-btn-with-h1" routerLink="/projects/form"><mat-icon>add</mat-icon> Request to join </button>
</div>

<div *ngFor="let project of projects">
  <mat-card>
    <mat-card-title>Project #{{ project.id }}</mat-card-title>
    <mat-card-subtitle>{{ project.name }}</mat-card-subtitle>
      {{ project.location }}
      <br>
      {{ project.methods }}
      <br>
    <mat-card-actions align="end">
      <button routerLink="/projects/{{ project.id }}" mat-stroked-button>Read more</button>
    </mat-card-actions>
    
  </mat-card>
  <br>
</div>