
<mat-card>
  <mat-card-title>Project #1</mat-card-title>
  <mat-card-subtitle>‘El Arriero ’ Afforestation on degraded grasslands under extensive grazing project</mat-card-subtitle>
    Uruguay
    <br>
    Agriculture Forestry and Other Land Use
    <br>
    20,000 TCO2
    <br>
  <mat-card-actions align="end">
    <button routerLink="/project" mat-stroked-button>Read more</button>
  </mat-card-actions>
  
</mat-card>
<br>

<mat-card>
  <mat-card-title>Project #2</mat-card-title>
  <mat-card-subtitle>Karnataka Pavagada-II Solar Project by Avaada (150 MW)</mat-card-subtitle>
    India
    <br>
    Energy industries (renewable/non-renewable sources)
    <br>
    15,921 TCO2
    <br>
  <mat-card-actions align="end">
    <button routerLink="/project" mat-stroked-button>Read more</button>
  </mat-card-actions>
  
</mat-card>
<br>

<mat-card>
  <mat-card-title>Project #3</mat-card-title>
  <mat-card-subtitle>Sahamitr Tapioca Chonburi Wastewater Treatment and Biogas Utilization Project</mat-card-subtitle>
    Thailand
    <br>
    Energy industries (renewable/non-renewable sources); Waste handling and disposal
    <br>
    748 TCO2
    <br>
  <mat-card-actions align="end">
    <button routerLink="/project" mat-stroked-button>Read more</button>
  </mat-card-actions>
  
</mat-card>
<br>
