<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Audit requests table</h4>
						<p class="card-category"> list of the audit requests </p>
						<div class="align-end align-btn-with-h1">
							<button mat-flat-button routerLink="/audit-request/form">
								<mat-icon>add</mat-icon>
								Request review
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
  
							<table class="table" mat-table [dataSource]="array">

								  <ng-container matColumnDef="date">
									  <th mat-header-cell *matHeaderCellDef> Date </th>
									  <td mat-cell *matCellDef="let element">
										  {{ element.date }}
									  </td>
								  </ng-container>
							  
								  <ng-container matColumnDef="projectName">
									  <th mat-header-cell *matHeaderCellDef> Project </th>
									  <td mat-cell *matCellDef="let element">
										{{ element.project?.name }}
									  </td>
								  </ng-container>
								
								  <ng-container matColumnDef="actions">
									  <th mat-header-cell *matHeaderCellDef> Actions </th>
									  <td mat-cell *matCellDef="let element">
										<button mat-stroked-button routerLink="/audit-review/form/{{ element.id }}">
											Review
										</button>
									  </td>
								  </ng-container>
							  
								  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
							<mat-paginator [pageSizeOptions]="[5]"
								showFirstLastButtons>
							</mat-paginator>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
  