<button mat-stroked-button routerLink="/projects">
	<mat-icon>arrow_back</mat-icon>
	All projects
</button>
<br>
<br>
<h1 *ngIf="id == null">New project</h1>
<h1 *ngIf="id != null">Edit project</h1>


<form [formGroup]="form" (ngSubmit)="onSubmit()">

	<!-- owner, name, location, methods, description, report -->
	<mat-form-field appearance="fill">
		<mat-label>Account</mat-label>
		<input matInput type="text" formControlName="owner">
	</mat-form-field>
	 
	<mat-form-field appearance="fill">
	  <mat-label>Title</mat-label>
	  <input matInput type="text" formControlName="name">
	</mat-form-field>
  
	<mat-form-field appearance="fill">
	  <mat-label>Location</mat-label>
	  <input matInput type="text" formControlName="location">
	</mat-form-field>
  
	<mat-form-field appearance="fill">
	  <mat-label>Methods</mat-label>
	  <input matInput type="text" formControlName="methods">
	</mat-form-field>
  
	<mat-form-field appearance="fill">
	  <mat-label>Description</mat-label>
	  <textarea matInput rows="4" formControlName="description"></textarea>
	</mat-form-field>

	<button [disabled]="id != null" type="button" mat-stroked-button (click)="fileInput.click()">Registration document</button>
	<input hidden (change)="onFileSelected($event)" #fileInput type="file">
	<span class="file-name">{{selectedFile?.name}}</span>
	<br>
	<br>

	<button mat-raised-button color="primary" type="submit">Save</button>
  
</form>

