<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Carbon Marketplace</span>
    <div class="spacer"></div>
    <button *ngIf="!connected" mat-stroked-button (click)="connect()">Connect Wallet</button>
    
    <mat-chip-list *ngIf="connected" aria-label="Dog selection">
      <mat-chip>
      <img matChipAvatar src="{{ imgUrl }}" alt="wallet address"/>
      {{ address }}
      </mat-chip>
    </mat-chip-list>

</div>

<div class="content" role="main">
	<router-outlet></router-outlet>
</div>
<br>
<br>
<br>

