<app-select-profile></app-select-profile>

<!-- <div class="bg"></div>

<div class="content">
	<mat-card class="my-card-profile">
		<img class="profile-img" src="{{ imgUrl }}" alt="wallet address"/>
		<br>
		<a class="btn btn-info btn-round" target="_blank" href="https://etherscan.io/address/{{account}}">{{ accountSmall }}</a>
	</mat-card>
	<br>
</div> -->

<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-profile">
				<div class="card-avatar">
					<img class="img" src="{{ imgUrl }}" />
				</div>
				<div class="card-body">
					<h6 class="card-category text-gray">CEO / Co-Founder</h6>
					<h4 class="card-title">{{ account }}</h4>
					<p class="card-description">
						0.598 ETH
					</p>
					<a class="btn btn-round" target="_blank" href="https://etherscan.io/address/{{account}}">See on etherscan</a>
					<a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="container-fluid">
	<div class="row">

		<div class="col-md-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">currency_bitcoin</i>
					</div>
					<p class="card-category">Balance</p>
					<h3 class="card-title">0.5987 ETH</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="material-icons">generating_tokens</i>
					</div>
					<p class="card-category">Credits Balance</p>
					<h3 class="card-title">12.87 TCO2</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
					</div>
				</div>
			</div>
		</div>
<!-- 
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">forest</i>
					</div>
					<p class="card-category">Credits Retired</p>
					<h3 class="card-title">95.17 TCO2</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
					</div>
				</div>
			</div>
		</div> -->

	</div>

	<div class="row">
		<app-user-buy-table></app-user-buy-table>
	</div>
	<!-- <div class="row">
		<app-user-carbon-retirement-table></app-user-carbon-retirement-table>
	</div> -->
</div>