<div class="bg"></div>

<div class="content">
	<mat-card class="card-profile">
		<img class="profile-img" src="{{ imgUrl }}" alt="wallet address"/>
		<br>
		<a target="_blank" href="https://etherscan.io/address/{{account}}">{{ accountSmall }}</a>
		<!-- <span></span> -->
	</mat-card>
	<br>
	<mat-card>
		<mat-card-subtitle>
			Carbon Balance
		</mat-card-subtitle>
		0.00 TCO2
	</mat-card>
	<br>
	<mat-card>
		<mat-card-subtitle>
			Retirements
		</mat-card-subtitle>
		0.00 TCO2
	</mat-card>
</div>

<app-table-list></app-table-list>
