/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
.spacer {
  flex: 1;
}
.align-end {
    justify-content: end;
    display: flex;

}
.align-btn-with-h1 {
    margin: -54px 0 16px !important;
    display: flex !important;
}
